# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# IDE/editor settings
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Jupyter (if you add notebooks later)
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/